<div class="toc-contents">
    <ul>
        <li>
            <div class="toc-item"><p>Title: Applying Agile Methodology To Data Science Projects</p>
                <p>Snippet: Agile principles and values can be applied to the way you approach data science projects
                </p>
                <p>Author: Mykola Dudnik</p>
                <p>Date: </p>
                <p>Reading: </p>
                <p>Custom Field 1: 072b902c-6ebb-11ea-89ca-d3e8c32c3263</p>
                <p>Custom Field 2: 23ee7312-24dd-446a-921d-2f4e90176ae7</p>
                <p>Custom Field 3: 2020-03-25T19:06:54.645680</p>
                <p>Custom Field 4: </p>
                <p>Custom Field New: 2020-04-25 11:02:16.743201</p></div>
        </li>
        <li>
            <div class="toc-item"><p>Title: Building a k-NN Similarity Search Engine using Amazon Elasticsearch and
                SageMaker</p>
                <p>Snippet: Step-by-Step Guide to Building Efficient and Scalable Document Similarity Search Engine
                </p>
                <p>Author: Mykola Dudnik</p>
                <p>Date: </p>
                <p>Reading: </p>
                <p>Custom Field 1: 072bae04-6ebb-11ea-89ca-d3e8c32c3263</p>
                <p>Custom Field 2: 77ded05c-7b89-48e3-9ac2-b4f9d8a208e9</p>
                <p>Custom Field 3: 2020-03-25T19:06:54.646442</p>
                <p>Custom Field 4: </p>
                <p>Custom Field New: 2020-04-25 11:02:16.743204</p></div>
        </li>
        <li>
            <div class="toc-item"><p>Title: Maths for Drawing Circles</p>
                <p>Snippet: Circles are a foundational shape in data visualization, but drawing them requires some basic
                    mathematical knowledge. Here&#65533;s your guide.
                </p>
                <p>Author: Marina Silivestru</p>
                <p>Date: </p>
                <p>Reading: </p>
                <p>Custom Field 1: 072bcbbe-6ebb-11ea-89ca-d3e8c32c3263</p>
                <p>Custom Field 2: 5a60c916-6212-41b0-8dcc-15e803c4df00</p>
                <p>Custom Field 3: 2020-03-25T19:06:54.647203</p>
                <p>Custom Field 4: 0.2774643016077524</p>
                <p>Custom Field New: </p></div>
        </li>
        <li>
            <div class="toc-item"><p>Title: Using Data Science to predict the origin of SARS-CoV-2 coronavirus from
                public genome
                data?&#65533;?a&#65533;
            </p>
                <p>Snippet: Where did coronavirus come? Experts think bats are the source of the virus. How did they
                    make such a conclusion?
                </p>
                <p>Author: Nurman Naz</p>
                <p>Date: </p>
                <p>Reading: </p>
                <p>Custom Field 1: 072be982-6ebb-11ea-89ca-d3e8c32c3263</p>
                <p>Custom Field 2: 6f2dfd64-9de5-4bad-a522-dd55e54ba405</p>
                <p>Custom Field 3: 2020-03-25T19:06:54.647965</p>
                <p>Custom Field 4: 0.3940283516746994</p>
                <p>Custom Field New: </p></div>
        </li>
        <li>
            <div class="toc-item"><p>Title: new attribute</p>
                <p>Snippet: new snippet</p>
                <p>Author: new author</p>
                <p>Date: new date</p>
                <p>Reading: new reading</p>
                <p>Custom Field 1: new custom_field_1</p>
                <p>Custom Field 2: new custom_field_2</p>
                <p>Custom Field 3: new custom_field_3</p>
                <p>Custom Field 4: new custom_field_4</p>
                <p>Custom Field New: </p></div>
        </li>
    </ul>
</div>
